@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #00f2ea;
  --color-primary-dark: #00c4bd;
  --color-secondary: #0f172a;
}

* {
  scroll-behavior: smooth;
}

.font-logo {
  font-family: "Great Vibes", cursive;
}

.font-body {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

.active-link {
  color: var(--color-primary) !important;
  font-weight: 700 !important;
}

body.light {
  background-color: #ffffff;
  color: #1e293b;
  --color-primary: #0891b2;
  /* Cyan-600 for better contrast on white */
  --color-primary-dark: #0e7490;
}

.shadow-float {
  @apply shadow-[0_0_15px_2px_#0891b2];
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}
